{% extends 'base.html.twig' %}



{% block body %}

{% for messsage in app.flashes('order') %} 
<div class="alert alert-success">
<h3>{{ messsage}}</h3>
</div>
{% endfor %}

<section class="playlist-section spad">
		<div class="container-fluid">
			<div class="section-title">
				<h2>Menu card</h2>
			</div>
			<div class="container">
				<ul class="playlist-filter controls">
					<li class="control" data-filter=".Drink">Drink</li>
					<li class="control" data-filter=".Appetizer">Appetizer</li>
					<li class="control" data-filter=".Main_dish">Main dish</li>
					<li class="control" data-filter=".Dessert">Dessert</li>
					<li class="control" data-filter="all">All Dishes</li>
				</ul>
			</div>                                              
			<div class="clearfix"></div>
			<div class="row playlist-area">
            {% for dish in menu %}
				<div class="mix col-lg-3 col-md-4 col-sm-6 {{ dish.category }}">
					<div class="playlist-item">
						<img src="{{ asset('pictures/'~ dish.picture) }}" alt="">
						<h5>{{dish.name}} - {{dish.price}}$ </h5>
                        <p>
							Order Nbr.{{dish.id}}
							<a class="btn btn-outline-danger btn-sm" href="{{ path('order',{id:dish.id}) }}" role="button">Order</a>
						</p>
					</div>
				</div>
            {% endfor %}
			</div>
		</div>
</section>

{% endblock %}
